* {
  box-sizing: border-box;
}

body, html {
  font-family: 'Mukta', Arial, sans-serif;
}


  
  /* page background */
  .page-bg1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #000;
    background-color: #d9d9d9;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 5px;
    font-size: 1.944rem;
    font-weight: 400;
    line-height: 33px;
    display: flex;
    width: 100%;
}

.page-bg2 {
    height: 90%;
    background-color: #e5e5e5;
    border-radius: 20px;
    flex-direction: column;
    flex-basis: 87%;
    justify-content: flex-start;
    align-self: center;
    align-items: center;
    padding-top: 80px;
    padding-left: 1px;
    display: flex;
}

.nu-bathroom-finder {
    font-size: 3rem;
    align-self: center;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 15px;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}
.prompt-text {
    align-self: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.511rem;
    line-height: 33px;
    justify-content: center;
    align-items: center;
}

/* multiple choice */
.radio-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    background-color: #e5e5e5;
    margin: 10px; 
    width: 80vw; 
    height: 60px;
    text-align: center;
    max-width: 70%;
}

.radio-button.selected {
    background-color: #927FB5;
    color: #fff;
}

.radio-button label {
    display: block;
    cursor: pointer;
    color: inherit;
}


/* selectable features */
.selectable-feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
  background-color: #e5e5e5;
  margin: 10px; 
  width: 80vw;
  height: 60px;
  max-width: 70%;
  font-family: 'Mukta', Arial, sans-serif;
}

.selectable-feature.selected {
  background-color: #927FB5;
  color: #fff;
}

.selectable-feature label {
  display: block;
  cursor: pointer;
  color: inherit;
  flex-grow: 1;
  text-align: center;
}

.selectable-feature .checkbox {
  width: 35px;
  height: 35px;
  border: 3.3px solid #d9d9d9; 
  border-radius: 10px;
  background-color: #F5F5F5; 
  margin-left: 12px; 
}

.selectable-feature.selected .checkbox {
  width: 35px;
  height: 35px;
  border: 3.3px solid #d9d9d9;
  border-radius: 10px;
  background-color: #4E2A84; 
  margin-left: 12px; 
}

/* results */
.results-container {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  width: 70%;
  margin: auto;
}

.result-box {
  padding: 2px 7px; 
  cursor: pointer;
  background-color: white;
  padding-top: 0;
  padding-bottom: 0;
}

.result-box:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.result-box:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.result-box:not(:last-child) {
  border-bottom: 2px solid #e0e0e0;
}

.bathroom-page-text {
  font-size: 35px; /* increase font size for smaller screens */
  padding: 5px; /* reduce padding for smaller screens */
  margin: 15px;
  align-self: center;
  justify-content: center;
  align-items: center;
}


/* for phone screens */


@media only screen and (max-width: 600px) {
  .radio-button {
    padding: 15px;
    margin: 15px;
    width: 80%;
    font-size: 5vw;
  }

  .page-bg1 {
    font-size: 2.5vw;
    padding-top: 3px;
    padding-bottom: 2px;
  }

  .page-bg2 {
    height: 90%;
    padding-top: 40px;
    align-items: center; 
  }

  .nu-bathroom-finder {
    font-size: 8vw;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .prompt-text {
    font-size: 4.5vw;
  }

  .selectable-feature label {
    font-size: 20px; /* adjust this as needed for mobile view */
  }

  .result-box {
    font-size: 20px; /* adjust this as needed for mobile view */
    }

    .bathroom-page-text {
      font-size: 20px;
      padding: 0px;
      margin: 0px auto; /* 5px margin top and bottom, automatic on the sides */
      align-self: center;
      justify-content: center;
      align-items: center;
    }
    


}
